/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* sets background image and global font */
body {
  background-image: url(https://c1.staticflickr.com/9/8532/8618443555_9978f50442_b.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

/* div surrounding login form */
#login {
  background: url(http://benague.ca/files/congruent_outline.png);
  background-color: #005bb6;
  opacity: 1;
  height: 280px;
  width: 500px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 160px;
  padding: 0;
  text-align: center;
}

/* form header */
h1 {
  font-size: 38px;
  padding: 12px;
  margin: 0;
  color: #fff;
  background-color: #00009c;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* text fields */
input:not([type="button"]) {
  width: 300px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #acacac;
  margin-bottom: 15px;
  text-align: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

input:not([type="button"]):focus {
  color: #005bb6;
  width: 350px;
  border: 1px solid #55acee;
  outline: none;
}

/* submit button */
input[type="button"] {
  font-size: 42px;
  color: #fff;
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5;
  border: none;
  padding: 10px;
  width: 400px;
  display: inline-block;
  position: relative;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

input[type="button"]:active {
  box-shadow: 0 1px 0 0 #3C93D5;
  -webkit-transform: translate(0,5px);
  -moz-transform: translate(0,5px);
  transform: translate(0,5px);
}
